body {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    
    font: 18px;
    display: flex;
    gap: 16px;
    list-style: none;
    padding-right: 64px;
    margin: 0;
    padding-top: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

button {
    max-width: 125px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.first-contents-left > p {
    font-size: 18px;
    color: #E5E7EB;
}

.first-contents {
    display: flex;
    justify-content: space-between;
    padding: 48px 64px;
    margin: 0;
}

.first-contents-left,
.first-contents-right {
    max-width: 600px;
    min-width: 0;
}

.first-contents-left {
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-section {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding-top: 8px;
}

.left-side {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 64px;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.second-contents {
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
}

.chicken,
.giraffe,
.lion,
.tooth {
    min-width: 0;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    justify-content: center;
    padding: 100px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    max-width: 1000px;
    align-self: center;
}

.quote-credit {
    font-size: 20px;
    font-weight: 1000;
    max-width: 1000px;
    text-align: end;
}

.text {
    margin: 0;
}